@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
.container {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e5e5e5;
  flex-wrap: wrap;
}

.leftPanel {
  flex-grow: 1;
  flex-basis: 0;
}

.leftPanelIconText {
  padding-left: 5rem;
}

.rightPanel {
  flex-grow: 1;
}

.loginPanel {
  display: flex;
  justify-content: flex-end;
}

.buttonStyle {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
  box-shadow: 5px 5px 50px #8c87a8;
}
